:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --buttonColor: #4d4758;
  --buttonRadius: 6px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0b0716;
  height: 100vh;
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}